<div class="w-bg py-5" id="gallery">


    <div class="container">
        <div class="row">

            <div class="col-md-12 titlecov text-center mb-5">
                <h4 class="">gallery</h4>
                <h5>Be a part of our family and see how we spend our day</h5>
            </div>


            <div class="col-md-4">
                <div class="gallery-block">
                    <a href="#"></a>
                    <img alt="" src="assets/images/gallery1.jpg" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="gallery-block">
                    <a href="#"></a>
                    <img alt="" src="assets/images/gallery1.jpg" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="gallery-block">
                    <a href="#"></a>
                    <img alt="" src="assets/images/gallery1.jpg" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="gallery-block">
                    <a href="#"></a>
                    <img alt="" src="assets/images/gallery1.jpg" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="gallery-block">
                    <a href="#"></a>
                    <img alt="" src="assets/images/gallery1.jpg" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="gallery-block">
                    <a href="#"></a>
                    <img alt="" src="assets/images/gallery1.jpg" />
                </div>
            </div>


        </div>
    </div>
</div>