<div class="banner">


    <div class="container homebanner">
        <div class="row">
     
             <div class="col-md-8 align-self-center text-right">
                 <h3 class="w-100 mb-4">Become a unique HR solutions organization</h3>
                 <h6 class="w-100 mb-5">
                    Our ultimate goal is to ensure that grow your business and succeed in a competitive market. Developing Talenthas experience helping clients overall the kingdom.

                 </h6>

                 <a href="#">Book Service</a>
                 
             </div>

            
        
    </div>
</div>


<img alt="" src="assets/images/dt-slider.jpg" />

</div>





<div class="w-bg py-5" id="services">


    <div class="container">
        <div class="row">
     
            <div class="col-md-12">
                <h3 class="d-inline-block title-sections position-relative mb-2">
                    Services
                </h3>
<h5 class="text-black mb-4">We manage HR Administration ( Personnel, Payroll and Govenment services ) with compitive cost</h5>
            </div>

            <div class="col-md-4 mb-4">
               <div class="service-block text-center">
                       <img alt="" src="assets/images/online-services.svg" />

                       <h4>Online Services</h4>

                       <div>here write some thing about this service which clearify sertvice details for visitors.</div>

               </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="service-block text-center">
                        <img alt="" src="assets/images/payroll.svg" />
 
                        <h4>Payroll Register</h4>
 
                        <div>here write some thing about this service which clearify sertvice details for visitors.</div>
 
                </div>
             </div>


             <div class="col-md-4 mb-4">
                <div class="service-block text-center">
                        <img alt="" src="assets/images/contract-employee.svg" />
 
                        <h4>Employee Contract</h4>
 
                        <div>here write some thing about this service which clearify sertvice details for visitors.</div>
 
                </div>
             </div>

             <div class="col-md-4 mb-4">
                <div class="service-block text-center">
                        <img alt="" src="assets/images/reports.svg" />
 
                        <h4>Forms and Reports</h4>
 
                        <div>here write some thing about this service which clearify sertvice details for visitors.</div>
 
                </div>
             </div>

             <div class="col-md-4 mb-4">
                <div class="service-block text-center">
                        <img alt="" src="assets/images/consultation.svg" />
 
                        <h4>Consultation</h4>
 
                        <div>here write some thing about this service which clearify sertvice details for visitors.</div>
 
                </div>
             </div>

             <div class="col-md-4 mb-4">
                <div class="service-block text-center">
                        <img alt="" src="assets/images/training.svg" />
 
                        <h4>Training</h4>
 
                        <div>here write some thing about this service which clearify sertvice details for visitors.</div>
 
                </div>
             </div>

           
        
    </div>
</div>

</div>

<div class="w-bg py-5" id="about">


    <div class="container">
        <div class="row">
     
            

            <div class="col-md-5 mb-5">
               <div class="img-block">
                       <img alt="" src="assets/images/company.jpg" />

               </div>
            </div>

            <div class="col-md-7 mb-5">
                <div class="service-block">
                        
                    <h3 class="d-inline-block title-sections position-relative mb-0">
                        Company
                    </h3>
                        <h6>Know more about our firm and who we are.</h6>
 
                        <div>here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..
                            <br /><br />
                            here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..
                        </div>
 
                </div>
             </div>


             <div class="col-md-7 mb-5">
                <div class="service-block">
                        
                    <h3 class="d-inline-block title-sections position-relative mb-0">
                        Our Vision
                    </h3>
                        <h6>Know more about our firm and who we are.</h6>
 
                        <div>here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..
                            <br /><br />
                            here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..here write the history of the corprate and the features of values of DT agency..
                        </div>
 
                </div>
             </div>
           

             <div class="col-md-5 mb-5">
                <div class="img-block">
                        <img alt="" src="assets/images/vision.jpg" />
 
                </div>
             </div>
        
    </div>
</div>

</div>


<app-gallery></app-gallery>

<div class="testmonail-bg" id="testmonial">


    <div class="container testmonial-board">
        <div class="row">


            <div class="col-lg-12 mb-4">

                <h3 class="d-inline-block title-sectionsw position-relative mb-0">
                    testimonials
                </h3>
                <h6 class="subwhite-title">Our clients’ words and opinions of our work..</h6>

            </div>

            <div class="col-lg-12">

                <div class="trans-layer">

                   <app-testmonial></app-testmonial>

                </div>

            </div>

        </div>
    </div>

    <img alt="" class="testmonial-cover" src="assets/images/testmonial-bg.jpg" />
</div>


<div class="w-bg py-5" id="contact">


    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="d-inline-block title-sections position-relative mb-2">
                    Let’s Talk
                </h3>
<h5 class="text-black mb-4">Interested to hear about your inquries, So feel free to contact us.</h5>
            </div>

            <div class="col-md-6">

                <div class="contact-form">
                    <div class="row">
                    <div class="col-lg-12 position-relative name mb-3">
                        
                        <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                      <div class="col-lg-12 position-relative email mb-3">
                        
                        <input type="email" class="form-control" placeholder="Your Email">
                      </div>

                      <div class="col-md-6 position-relative tel mb-3">
                        
                        <input type="tel" class="form-control" placeholder="Your No.">
                      </div>

                      <div class="col-md-6 position-relative kindform mb-3">
                        
                        <select class="form-select">
                            <option selected>Please select</option>
                            <option value="1">Complaint</option>
                            <option value="2">Suggestion</option>
                            <option value="3">Support</option>
                          </select>
                      </div>

                      <div class="col-lg-12 position-relative subject mb-3">
                        
                        <input type="text" class="form-control" placeholder="Subject..">
                      </div>

                      <div class="col-lg-12 position-relative mb-3">
                        <textarea placeholder="Write your Message.." class="form-control" rows="5" ></textarea>
                      </div>


                      <div class="col-lg-12 mb-3">
                            <button class="btn-dt">Send</button>
                      </div>

                      </div>
                            
                </div>

            </div>

            <div class="col-md-6" id="find">
                    <div class="framemap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d55285.34500162469!2d31.445004150000003!3d29.99856275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2seg!4v1671556227339!5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="addresshome">
                        <i class="feather icon-map-pin"></i>
                        write detailed address details here  - region - city - Countery
                    </div>

                    <div class="contacthome">
                        <a href="tel:00123 456 789">
                            <i class="feather icon-phone"></i>
                            +123 456 789
                        </a>

                        <a href="mailto:info@domain.com">
                            <i class="feather icon-mail"></i>
                            info@domain.com
                        </a>
                    </div>
            </div>

        </div>
    </div>
</div>
